*
{
    margin: 0px;
    padding: 0px;
}
.main
{
    background-image: url('../images/bgbrownies.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.para
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.para > p
{
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
    color: goldenrod;
    font-weight: bold;
    animation-name: landing;
    animation-duration: 2s;
    
}
@keyframes landing
{
    0%{transform: skew(60deg);}
    100%{transform: skew(0%);}
}
.body
{
    height: auto;
    background-image: linear-gradient(90deg,#533e42,#2f2a25);
}
.title > h2
{
    font-family: 'Josefin Sans', sans-serif;
    color: goldenrod;
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
}

.logo, .logo1, .logo2
{
  height: 350px;
  width: 350px;
}
.logo > img, .logo1 > img, .logo2 > img
{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: rotate(360deg);
  transition: 2s;

}
.sub, .sub2, .sub3
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 520px;
}

#one
{
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(255, 242, 0);
  font-weight: bold;
  padding-top: 20px;
}
.logo > img:hover, .logo1 > img:hover, .logo2 > img:hover
{
    transform: rotate(0deg);
    transition: 2s;
}