* {
  margin: 0px;
  padding: 0px;
}
body
{
  background-image: linear-gradient(90deg, #171616, #050505)
  
}

header {
  background: #0f0f10;
  height: 100px;
  text-align: center;
  font-family: "Tangerine", cursive;
  font-size: 5rem;
  line-height: 120px;
  color: goldenrod;
  
}
.Home .main
{
  width: 100%;
  
}
.main
{
  
  background-image: url('../images/cake.jpg');
  height: 110vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  

}
.sub
{
  padding-top: 200px;
  width: 23%;
  color: white;
  padding-left: 50px;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 2rem;
  line-height: 70px;
  transition: 2s;
  animation-name: landing;
  animation-duration: 2s;
  
}
@keyframes landing
{
  0%
  { transform: translateY(300px);}
  100%{
    transform: translate(0px);
  }   
}
.button
{
  padding-top: 100px;
  padding-left: 50px;
  transition: 2s;
  animation-name: landing;
  animation-duration: 3s;
}
.button > button
{
  height: 50px;
  width: 150px;
  background-color: rgb(218, 165, 32);
  border: 1px solid rgb(218, 165, 32);
  color:rgb(9, 9, 8);
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  
}
.button > button:hover
{
  background: transparent;
  color: goldenrod;
  cursor: pointer;
}
.Head
{
  font-family: 'Redressed', cursive;
  color: #f0ede4;
  font-size: 2.3rem;
  text-align: center;
  padding-top: 30px;
}
.second
{
  background-image: linear-gradient(90deg, #191514, #0f0d0b);
  height: 80vh;
  width: 100%;
  padding-top: 20px;
}
.body
{
  display: flex;
  justify-content: center;
}
.logo
{
  height: 350px;
  width: 500px;
  padding: 50px;
  margin: 5px;
}
.logo > img
{
  height: 100%;
  width: 100%;
}
.para > p
{
  width: 400px;
  color: cornsilk;
  line-height: 30px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: justify;
  font-size: 1.2rem;
}
.para
{
    padding: 50px;
}
.third
{
  height: 80vh;
  background-image: linear-gradient(90deg, #191514, #0f0d0b);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img1, .img2, .img3
{
  height: 350px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  
  transform: scale(1);
  transition: 0.4s;
}
.img1 > img
{
  height: 100%;
  width: 100%;
}
.img2 > img
{
  height: 100%;
  width: 100%;
}
.img3 > img
{
  height: 100%;
  width: 100%;
}

.overlay, .overlay2, .overlay3
{
  
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  opacity: 0;
}
.overlay > p, .overlay2 > p, .overlay3 > p
{
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(9, 9, 8);
  font-weight: bolder;
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  background: goldenrod;
}



.img1:hover, .img2:hover, .img3:hover
{
  transform: scale(1.1);
  transition: 0.5s;
  
}
.overlay:hover, .overlay2:hover, .overlay3:hover
{
  opacity: 1;
}


    .video
    {
      height: 500px;
      width: 100%;
      padding: 50px 300px;
      
  
    }
    .video > video
    {
      height: 100%;
      object-fit: cover;
    }







